/*Ä¬ÈÏ±í¸ñÑùÊ½*/

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 8px;
  /* table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word; */
}

table,
th,
td {
  border: 1px solid #E1E2E6;
}

tr {
  height: 40px;
  line-height: 26px;
  white-space: nowrap;
}

tr:nth-child(even) td {
  background: #FFFFFF;
}

tr:nth-child(odd) td {
  background: #F4F9F8;
}

th {
  line-height: 30px;
  background-color: #E4EEED;
  color: #135D57;
  font-weight: normal;
  text-align: center;
  text-align-last: center;
  white-space: nowrap;
}

th a {
  color: #135D57 !important;
}

th a:hover {
  color: #5AC1C5;
}

th #user_pic {
  float: none;
  text-align: center;
  text-align-last: center;
}

th[colspan="7"] {
  background-color: #8DD2CC;
  color: #FFF;
  text-align: left;
  text-align-last: left;
  line-height: 32px;
  padding: 0;
}

th[colspan="7"] span {
  padding-left: 16px;
  padding-right: 30px;
  background: url('../images/bg_trh_icon.png') no-repeat;
  background-size: 100% 100%;
  position: relative;
  left: -10px;
}

td {
  background-color: #FFF;
  color: #333;
  padding-left: 20px;
  height: 40px;
  font-size: 14px;
  padding: 2px 24px;
  white-space: nowrap;

}

td a {
  color: #237BF0 !important;
}

.pagerstyle td,
.pagerstyle tr {
  border: 1px solid #FFF;
  text-align: center;
  text-align-last: center;
}

.pagerstyle table td {
  display: inline-block;
  padding: 0;
  border: 0;
  background-color: #FFF;
  margin-top: 10px;
}

.pagerstyle td a,
.pagerstyle td span {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-size: 16px;
  color: #333 !important;
}

.pagerstyle td a:hover {
  background: #EBF8F4;
}

.pagerstyle td span {
  background: #E4EEED;
}

@media only screen and (max-device-width: 500px) {

  tr:nth-child(odd) td {
    background: #E8F0FA
  }

  tr:nth-child(even) td {
    background: #FAF5FE;
  }

  td {
    font-size: 20px;
    padding: 20px 0;
    white-space: normal
  }
}